{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Create Post{% endblock %}
{% block content %}

{% if user.is_authenticated %}
    <h2>Create a Post</h2>
    <br>
        <div class="create-form">
            <form id="post_form" action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <input id="avatar_input" type="file" name="image" accept="image/*" required=True />
                <br>
                <button type="submit">Post</button>
            </form>
        </div>
            <script>
                let name = "{{ user.id }}";
                document.getElementById("username").value = name;
            </script>
{% else %}
        You are not logged in as a user! Please login or sign up to create a post.
        <a href="{% url 'posts' %}"><button>Back</button></a>
{% endif %}
{% endblock content %}
