<!doctype html>

<html lang="en">


<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Page</title>

</head>


<body>
    <div>
        <h1>Product Listing</h1>
    </div>
    <div>

        {% block content %}

        Welcome to the home page

        {% endblock %}

    </div>
    <!--
    {% block NavBar %}
    {% endblock %}
    <span>
    {% block Footer %}
    {% endblock %}
    </span>
    -->

</body>


</html>
