<!doctype html>

<html lang="en">


<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="home_styling.css">-->
    {% load static %}
    <link rel="stylesheet", href={% static 'home_styling.css' %}>
    <title>Home Page</title>

</head>

<body>
<div>
    <h1>Product Listing</h1>
</div>
        {% block nav-bar %}

        Product Listing

        {% endblock %}
    <div>

        {% block content %}

        Welcome to the home page

        {% endblock %}

    </div>
    <div>
    <h2>Posts</h2>
    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="post_title" />
        <button type="submit">Submit</button>
    </form>
    <!--
        <form action='' method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Create" />
        </form>
        -->

    </div>

    <h1>{{create_post.post_title}}</h1>
        <!--{% for item in todo_items %}
        <div>
            <li>
                Title: {{create_post.post_title}}
            </li>
            <li>
                Category: {{create_post.post_category}}
            </li>
            <li>
                Description: {{create_post.post_description}}
            </li>
            <li>
                Date: {{create_post.post_date}}
            </li>
        </div>
    <!--{% endfor %}-->
    
    <br>
    <br>
    <span>
        {% block Footer %}
            Posts Footer
        {% endblock %}
    </span>

</body>


</html>
