{% extends "base.html" %}
{% block content %}
<h1>Posts Here</h1>
<br>
    {% for post in posts %}
    <ul>
    <div class="profile_display">
        <img class="post_image" src="data:;base64,{{ convert_image }}" width="200" height="200"/>
    <div>
    <a href="{% url 'details' post.pk %}" id="post_details">{{ post.title }}</a><br>
    <b>Category:</b> {{ post.category }}<br>
    <b>Keywords:</b> {{ post.keywords }}<br>
    <b>Description:</b> {{ post.description }}<br>
    <b>Status:</b> {{ post.status }}<br>
    <b>Status:</b> {{ post.price }}<br>
    <small><a href="{% url 'edit' post.pk %}" id="edit_posts">Edit</a></small><br>

</ul>
<br>
     {% empty %}

    <h4>There are no posts yet!</h4>
    {% endfor %}
    <br>
    <a href="{% url 'create' %}"><button> Create a New Post</button></a>
{% endblock %}
