* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    height:100%; 
    width:100%;
    /* font-family: monospace; */
    background-color: #dbe3e5;
}
  
body{
    background-color: #d5d6ec;
    display: flex;
    flex-direction: column;
}

header, footer{
    text-align: center;
    padding: 2.6%;
    background-color: #600060;
    /* margin-bottom: 1%;       */
    display: flex; 
    /* justify-content: center;  */
    color: white;
    font-size: large;
}
 
div.registration{
    position: absolute;
    right: 2%;  
    top: 4%;
    /* display: flex;   */
}

div.registration > button{
    padding: 1em;

}

div {
    background-color: white;
    padding: 16px;
}
