* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    height:100%; 
    width:100%;
    /* font-family: monospace; */
    background-color: #dbe3e5;
}
  
body{
    /* background-color: #d5d6ec; */
    display: flex;
    flex-direction: column;
}

.main{
    /* background-image: url("static/background1.jpg") 50% 0 no-repeat fixed; */
    /* color: white; */
    height: 600px;
    /* padding: 100px 0 0 0;  */
}

#logo{
    position: absolute;
    top: -6%;
}

header, footer{
    text-align: center;
    padding: 2.4%;
    background-color: #e2e2e6;
    display: flex; 
    color: black;
    font-size: large;
}

header{
    border-bottom: solid gray;
}

footer {
    position:absolute;
    bottom:0;
    width: 100%;
    border-top: solid gray;
 }
 
div.registration{
    position: absolute;
    right: 0%;  
    top: 4%;
    display: flex;
}

/* div.registration > span > button{
    padding: 0.5em;

} */

div.registration > div > span > h3 > a{
    color: black;
    text-decoration: None;

}

.signup {
    background-color: white;
    margin: auto;
    width: 32.5%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.signup > h1{
    background-color: black;
    border-radius: 10px 10px 0 0;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

input {
    /* width: 250%; */
    width: 29.5em;
    padding: 10px;
    margin: 5px 0 10px 0;
    border: none;
    background: #f1f1f1;
}

.registration_button{
    width: 40%;    
    background-color: aqua;
    border-radius: 10px;  
    margin-left: 150px;
    
}

tr {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 50px; 
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.registration > span {
    margin-right: 25px;
}

#searchbar{
    margin: auto;
    width: 50%;
    background: #c9c9c9;
    border-radius: 5px;
}

.registration > div {
    display: flex;
    margin-right: 30px;
    justify-content: space-between;
    margin-top: 10px;
}

.registration > div > span{
    margin-left: 25px;
}


