{% extends 'base.html' %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Message</title>
        {% load static %}
        <link rel="stylesheet", href="{% static 'style.css' %}"/>
    </head>

{% block content %}
<div class="container">
  <div class="row mt-5">
    <div class="col-md-3 col-sm-6">
      <a href="{% url 'inbox' %}" class="btn btn-light"><button>Back to Your Inbox</button></a>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-md-5 col-sm-12">
      <h5>Start a Conversation!</h5>
    </div>
  </div>
  <div class="row justify-content-center mt-3 mb-5">
    <div class="col-md-5 col-sm-12">
      <form method="POST">
        {% csrf_token %}
        <p>Enter the username for the person you would like to talk to.</p>
        {{ form | crispy }}
        <div class="d-grid gap-2">
        <a href="{% url 'inbox' %}"><button type="submit" class="btn btn-success mt-3">Continue</button></a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}