<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Product Listing</title>
        {% load static %}
        <link rel="stylesheet", href="{% static 'style.css' %}"/>
    </head>
    <body>
        <header>
            <a href={%url 'index'%}><img src="{% static 'logo.png'%}" width="200" height="200" id="logo"></a>
            <input id="searchbar" type="text" placeholder="Search...">
            <div class="registration">
                {% if user.is_authenticated %}
                <div>
                    <span><h3> Hello, {{user.username}}</h3></span>
                    <span><h3> <a href={%url 'logout'%}>Logout</a></h3></span>
                </div>
                    {% if request.user.profile.avatar != None %}
                    <span><img src="data:;base64,{{encoded_image}}" width="50" height="50" /></span>
                    {% endif %}
                {% else %}
                <div>
                    <span><h3><a href={%url 'signup'%}>Sign up</a></h3></span>
                    <span><h3><a href={%url 'login'%}>Sign in</a></h3></span>
                </div>
                {% endif %}
            </div>
        </header>
        <section class="main" style="background-image: url('{% static "background2.jpg"%}')">
            {% block content %} This content will be replaced {% endblock %}
        </section>
        <footer>
            footer
        </footer>
    </body>
</html>