<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Product Listing</title>
        {% load static %}
        <link rel="stylesheet", href="{% static 'style.css' %}"/>
    </head>
    <body>
        <header>
            header
            <div class="registration">
                <button><a href={%url 'signup'%}>Sign up</a></button>
                <button><a href={%url 'login'%}>Sign in</a></button>
            <div>
        </header>
        <section>
            {% block content %} This content will be replaced {% endblock %}
        </section>
        <footer>
            footer
        </footer>
    </body>
</html>