{% extends "base.html" %}
{% block content %}
{% load static %}
{% block jsblock %}
<link rel="stylesheet", href="{% static 'styles.css' %}">
<h2>Members List</h2>
<button  onclick="location.href='{% url 'add_member' %}'">Add member</button>
<table>
    <tr>
        <th>User ID</th>
        <th>Username</th>
        <th>Group</th>
    </tr>
    {% for member in members %}
    <tr>
        <td>{{ member.id }}</td>
        <td>{{ member.username }}</td>
        <td> {{ member.groups__name }} </td>
        <td><button onclick="location.href='{% url 'edit_user_details' username=member.username %}'" id='edit'>Edit details</button></td>
        <td><button onclick="location.href='{% url 'block_users' username=member.username %}'" id='flag'>Block</button></td>
        <td><button onclick="location.href='{% url 'unblock_users' username=member.username %}'">Unblock</button></td>
        <td><button id='warn'>Warn</button></td>
        <td><button onclick="location.href='{% url 'delete_user' username=member.username %}'" id='delete'>Delete</button></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
{% endblock %}