{% extends "base.html" %}
{% block content %}
{% load static %}
{% block jsblock %}
<link rel="stylesheet", href="{% static 'styles.css' %}">
<h2>Members List</h2>
<br>
<div class="center">
    <button onclick="location.href='{% url 'add_member' %}'" id="add">Add member</button>
</div>
<table id='memberTable' class='table'>
    <tr>
        <th>User ID</th>
        <th>Username</th>
        <th>Group</th>
    </tr>
    {% if members %}
    {% for member in members %}
    <tr>
        <td>{{ member.id }}</td>
        <td>{{ member.username }}</td>
        <td> {{ member.groups__name }} </td>
        <td><button onclick="location.href='{% url 'edit_user_details' username=user.username %}'" id='edit'>Edit details</button></td>
        {% if member.is_active%}
        <td><button onclick="location.href='{% url 'block_users' username=member.username %}'" id='block'>Block</button></td>
        {% else %}
        <td><button onclick="location.href='{% url 'block_users' username=member.username %}'" id="unblock">Unblock</button></td>
        {% endif %}
        <td><button onclick="location.href='{% url 'delete_user' username=member.username %}'" id='delete' >Delete</button></td>
    </tr>
    {% endfor %}
    {% endif %}
</table>
<h2>Product List</h2>
<table id='itemTable' class='table'>
    <tr>
        <th>Title</th>
        <th>Category</th>
        <th>Price</th>
    </tr>
    {% if posts %}
    {% for post in posts %}
    <tr>
        <td> {{ post.title }}</td>
        <td> {{ post.category }}</td>
        <td> {{ post.price }}</td>
        <td><button onclick="location.href='{% url 'details' post.pk %}'">More details</button></td>
        {% if post.flagged %}
        <td>Product flagged!<button class="flag" onclick="location.href='{% url 'flag_post' title=post.title %}'">Unflag</button></td>
        {% else %}
        <td><button class="flag" onclick="location.href='{% url 'flag_post' title=post.title %}'">Flag</button></td>
        {% endif %}
        <td><button onclick="location.href='{% url 'edit_posts' title=post.title %}'" id='edit'>Edit</button></td>
        <td><button onclick="location.href='{% url 'delete_posts' title=post.title %}'" id='delete'>Delete</button></td>
    </tr>
    {% endfor %}
    {% endif %}
</table>

{% endblock %}
{% endblock %}