{% extends "dashboard.html" %}
{% block content %}
{% load static %}
{% block jsblock %}
<link rel="stylesheet", href="{% static 'styles.css' %}">
<table>
    <tr>
        <th>User ID</th>
        <th>Username</th>
        <th>Group</th>
    </tr>
    {% for member in members %}
    <tr>
        <td>{{ member.id }}</td>
        <td>{{ member.username }}</td>
        <td> {{ member.groups__name }} </td>
        <td><button id='edit'>Edit details</button></td>
        <td><button id='modify'>Modify groups</button></td>
        <td><button id='flag'>Flag</button></td>
        <td><button id='warn'>Warn</button></td>
        <td><button id='delete'>Delete</button></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
{% endblock %}