{% extends "dashboard.html" %}
{% block content %}
{% load static %}
{% block jsblock %}
<link rel="stylesheet", href="{% static 'styles.css' %}">
<h2>Members Table</h2>
<table id='memberTable'>
    <tr>
        <th>User ID</th>
        <th>Username</th>
        <th>Group</th>
    </tr>
    {% for member in members %}
    <tr>
        <td>{{ member.id }}</td>
        <td>{{ member.username }}</td>
        <td> {{ member.groups__name }} </td>
        <td><button id='edit'>Edit details</button></td>
        <td><button id='modify'>Modify groups</button></td>
        <td><button id='flag'>Flag</button></td>
        <td><button id='warn'>Warn</button></td>
        <td><button onclick="location.href='{% url 'delete_users' username=member.username %}'" id='delete' >Delete</button></td>
    </tr>
    {% endfor %}
</table>
<h2>Items table</h2>
<table id='itemTable'>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Category</th>
        <th>Status</th>
        <th>Price</th>
        <th>Date</th>
        <th>Keywords</th>
        <th>Image</th>
    </tr>
    {% for post in posts %}
    <tr>
        <td> {{ post.post_title }}</td>
        <td> {{ post.post_description }}</td>
        <td> {{ post.post_category }}</td>
        <td> {{ post.post_status }}</td>
        <td> {{ post.post_price }}</td>
        <td> {{ post.post_date }}</td>
        <td> {{ post.post_keywords }}</td>
        <td><img src="../../../static/{{ post.post_image }}" width="40px" height="40px"></td>
        <td><button id='edit'>Edit details</button></td>
        <td><button id='flag'>Flag</button></td>
        <td><button id='warn'>Warn</button></td>
        <td><button id='delete'>Delete</button></td>

    </tr>
    {% endfor %}
</table>

{% endblock %}
{% endblock %}